@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f1f2f6;
}

.container-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1270px;
}

.container
{
    width: 1270px;
    margin: auto;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgray;
}

.logo
{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    float: left;
    animation: change-color 15s infinite;
}

@keyframes change-color {
    0% {
        color: rgb(255, 0, 0);
    }
    25% {
        color: rgb(255, 255, 0);
    }
    50% {
        color: rgb(0, 255, 0);
    }
    75% {
        color: rgb(0, 255, 255);
    }
    100% {
        color: rgb(255, 0, 255);
    }
}

#search-box
{
    width: 500px;
    height: 37px;
    margin-left: 30px;
    padding-left: 13px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 100px;
    box-sizing: border-box;
}

#search-box:focus
{
    outline: none;
}

#search-btn
{
    width: 40px;
    height: 37px;
    font-size: 18px;
    position: absolute;
    margin-left: -36px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    background-color: red;
}

#search-btn:hover
{
    color: black;
    cursor: pointer;
}

.news
{
    margin-left: 60px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.login-btn
{
    margin-left: 60px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#header-icon
{
    position: absolute;
    margin-left: -30px;
    margin-top: -3px;
    font-size: 23px;
}

.cart
{
    color: black;
    margin-left: 60px;
    text-decoration: none;
    font-weight: 500;
}

#icon-danh-muc
{
    margin-right: 10px;
    background: none;
}

footer
{
    height: 300px;
    font-size: 30px;
    background-color: lightgray;
    margin-top: 30px;
}

.login
{
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login>p
{
    font-size: 30px;
    font-weight: bold;
}
.login .fa-solid
{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 25px;
}

.input-box
{
    width: 250px;
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.input-box input
{
    width: 100%;
    height: 100%;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 5px;
}

.input-box label
{
    position: absolute;
    background-color: transparent;
    margin-left: 30px;
    
}

.input-box input:focus
{
    outline: none;
    
}

.submit-btn
{
    
}

.footer-1
{
    height: 100px;
    font-size: 30px;
    background: lightgray;
    display: flex;
    justify-content: center;
}
