@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #1c1c27;
    color: white;
}

.container
{
    width: 1400px;
    margin: auto;
    background: transparent;
}

header {
    width: 100%;
    background-color: #28293d;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header {
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

.search-box {
    margin-left: 4.4rem;
    background: transparent;
}

.search-box input {
    height: 2.3rem;
    width: 20rem;
    background: transparent;
    box-sizing: border-box;
    padding-left: 1rem;
    border-radius: 2rem;
    border: 1px solid lightgray;
}

.search-box input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.search-box input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 2.2rem;
    height: 2.3rem;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent;
    color: white;
    margin-left: -2.5rem;
}

.navigation {
    margin-left: 4.6rem;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    float: left;
    line-height: 4.4rem;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 3.7rem;
}

.navigation > ul > li > a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    transition: .5s ease-in-out;
    background: transparent;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.menu:hover > a {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.cart-btn {
    text-decoration: none;
    background: none;
    margin-left: 4.95rem;
}

.cart-btn > i {
    font-size: 1.6rem;
}

.cart-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.login-btn {
    text-decoration: none;
    background: none;
    margin-left: 3rem;
}

.login-btn > i {
    font-size: 1.6rem;
}

.login-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}
.megamenu {
    position: absolute;
    margin-left: -734px;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    height: 600px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

.cart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart table {
    border: 1px solid #9090a7;
    width: 100%;
    border-collapse: collapse;
}

.cart table th, td {
    border: 1px solid #9090a7;
    text-align: center;
    padding: 0.7rem;
}

.cart form input{
    width: 3rem;
    background: none;
    text-align: center;
    border: 1px solid #9090a7;
}

.cart img {
    width: 10rem;
}

.cart .stt {
    width: 5%;
}
.cart .product-img {
    width: 20%;
}

.cart .product-name {
    width: 30%;
}

.cart .quantity {
    width: 10%;
}

.cart .price {
    width: 15%;
}

.cart .note {
    width: 15%;
}

.cart .remove {
    width: 5%;
}

.cart .product-name a {
    text-decoration: none;
}

.cart .product-name a:hover {
    color: #ac5cd9;
}

.cart .remove i{
    cursor: pointer;
}

footer {
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #555870;
}