@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #1c1c27;
    color: white;
}

.container
{
    width: 1400px;
    margin: auto;
    background: transparent;
    position: relative;
}

header {
    width: 100%;
    background-color: #28293d;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header {
    width: 100%;
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

.search-box {
    overflow: hidden;
    width: 24%;
    height: 43%;
    margin-left: 4.4rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.search-box input {
    height: 100%;
    width: 83%;
    background: transparent;
    box-sizing: border-box;
    padding-left: 1rem;
    border: none;
    float: left;
}

.search-box input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.search-box input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 17%;
    height: 100%;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent;
    color: white;
    float: right;
    cursor: pointer;
}

.navigation {
    margin-left: 4.6rem;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    float: left;
    line-height: 4.4rem;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 3.7rem;
}

.navigation > ul > li > a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    transition: .5s ease-in-out;
    background: transparent;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.cart-login {
    background: none;
    margin-left: 4rem;
}

.cart-btn {
    text-decoration: none;
    background: none;
}

.cart-btn > i {
    font-size: 1.6rem;
}

.cart-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.login-btn {
    text-decoration: none;
    background: none;
    margin-left: 2rem;
}

.login-btn > i {
    font-size: 1.6rem;
}

.login-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.menu-for-mobile {
    list-style-type: none;
    display: none;
    background: none;
    margin-right: 0.5rem;
}

.menu-for-mobile > li {
    background: none;
}

.menu-for-mobile > li > label {
    background: none;
}


.menu-for-mobile > li > label > i {
    font-size: 1.5rem;
    background: none;
}

.mobile-menu {
    background-color: #28293d;
    position: absolute;
    overflow-y: scroll;
    width: 14rem;
    height: 89vh;
    padding: 1rem;
    top: 100%;
    left: -100%;
    transition: all .5s;
}

#check {
    display: none;
    background: none;
}

#check:checked ~ .mobile-menu {
    left: 0;
}

.mobile-login-btn {
    text-decoration: none;
    font-weight: 600;
}

.mobile-login-btn i{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.mobile-menu .menu-break {
    height: 0;
    border-top: 1px solid #9090a7;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.mobile-menu ul {
    list-style-type: none   ;
    background: none;
}

.mobile-menu ul li, h1, a, nav {
    background: none;
    text-decoration: none;
}

.mobile-menu > ul > li{
    width: 97%;
    line-height: 2.5rem;
    position: relative;
   
}

.mobile-menu > ul > li #menu-arrow {
    position: absolute;
    font-size: 0.8rem;
    margin-top: 0.65rem;
    right: 0;
    transition: .3s;
}

.mobile-menu > ul > li:hover #menu-arrow {
    transform: rotate(90deg);
}

.mobile-menu > ul > li:hover .mobile-menu-item {
    display: block;
}

.mobile-menu-item {
    padding-left: 1.6rem;
    line-height: 1.8rem;
    display: none;
}

.megamenu {
    position: absolute;
    left: 0;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

.student-infomation {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-img {
    width: 30%;
}

.student-img > img {
    width: 100%;
}

.student-info {
    width: 69%;
    padding: 1rem;
    box-sizing: border-box;
}

.student-info > h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.student-info span {
    font-weight: 600;
    font-size: 1.3rem;
    color: #0064f6;
}

.student-info p {
    font-size: 1.3rem;
}

.student-info .fa-facebook {
    font-size: 2rem;
    margin-top: 0.7rem;
    color: #0d8df0;
}

.project-infomation {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.project-img {
    width: 30%;
}

.project-img > img {
    width: 100%;
}

.project-info {
    width: 69%;
}

.project-info > h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.project-info > h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

.project-info p {
    font-size: 1.3rem;
}

.project-info a {
    font-size: 1.3rem;
}

.project-info span {
    font-size: 1.3rem;
    color: #0064f6;
    font-weight: 600;
}

.project-info a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

footer {
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #555870;
}

/*For mobile*/
@media only screen and (max-width: 767px) {
    * {
        font-size: 1rem;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    header {
        position: relative;
    }

    .header {
        height: 4rem;
        justify-content: space-between;
        position: static;
    }

    .menu-for-mobile {
        display: block;
    }
    
    .logo {
        font-size: 2rem;
        margin-right: 0.5rem;
    }

    .search-box {
        margin-left: 0;
        width: 45%;
        height: 2rem;
    }

    .search-box input {
        padding: 0.7rem;
        width: 100%;
    }

    .search-box input::placeholder {
        font-size: 0.9rem;
    }

    .search-box button {
        width: 3rem;
    }

    .navigation {
        display: none;
    }

    .cart-login {
        margin-left: 0.5rem;
    }

    .login-btn {
        display: none;
    }

    .student-infomation {
        flex-direction: column;
        padding: 0;
    }

    .student-img {
        width: 100%;
    }
    .student-info {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }

    .student-info h1 {
        font-size: 1.3rem;
    }

    .student-info p, .student-info span {
        font-size: 0.9rem;
    }

    .project-infomation {
        flex-direction: column;
        padding: 0;
    }

    .project-img {
        width: 100%;
    }

    .project-info {
        width: 100%;
        margin-top: 1rem;
    }

    .project-info h1 {
        font-size: 1.3rem;
    }

    .project-info h2, .project-info span, .project-info p, .project-info span {
        font-size: 0.9rem;
    }

    .project-info a {
        font-size: 0.9rem;
    }
}