@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #1c1c27;
    color: white;
}

.container
{
    width: 1300px;
    margin: auto;
    background: transparent;
    position: relative;
}

header {
    width: 100%;
    background-color: #28293d;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header {
    width: 100%;
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

.search-box {
    overflow: hidden;
    width: 24%;
    height: 43%;
    margin-left: 3rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.search-box input {
    height: 100%;
    width: 83%;
    background: transparent;
    box-sizing: border-box;
    padding-left: 1rem;
    border: none;
    float: left;
}

.search-box input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.search-box input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 17%;
    height: 100%;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent;
    color: white;
    float: right;
    cursor: pointer;
}

.navigation {
    margin-left: 4rem;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    float: left;
    line-height: 3.5rem;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 3.7rem;
}

.navigation > ul > li > a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    transition: .5s ease-in-out;
    background: transparent;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}


.cart-login {
    background: none;
    margin-left: 1.5rem;
}

.cart-btn {
    text-decoration: none;
    background: none;
}

.cart-btn > i {
    font-size: 1.6rem;
}

.cart-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.login-btn {
    text-decoration: none;
    background: none;
    margin-left: 1.3rem;
}

.login-btn > i {
    font-size: 1.6rem;
}

.login-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.menu-for-mobile {
    list-style-type: none;
    display: none;
    background: none;
    margin-right: 0.5rem;
}

.menu-for-mobile > li {
    background: none;
}

.menu-for-mobile > li > label {
    background: none;
}


.menu-for-mobile > li > label > i {
    font-size: 1.5rem;
    background: none;
}

.mobile-menu {
    background-color: #28293d;
    position: absolute;
    overflow-y: scroll;
    width: 14rem;
    height: 89vh;
    padding: 1rem;
    top: 100%;
    left: -100%;
    transition: all .5s;
}

#check {
    display: none;
    background: none;
}

#check:checked ~ .mobile-menu {
    left: 0;
}

.mobile-login-btn {
    text-decoration: none;
    font-weight: 600;
}

.mobile-login-btn i{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.mobile-menu .menu-break {
    height: 0;
    border-top: 1px solid #9090a7;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.mobile-menu ul {
    list-style-type: none   ;
    background: none;
}

.mobile-menu ul li, h1, a, nav {
    background: none;
    text-decoration: none;
}

.mobile-menu > ul > li{
    width: 97%;
    line-height: 2.5rem;
    position: relative;
}

.mobile-menu  #menu-icon {
    width: 1.5rem;
}

.mobile-menu > ul > li .fa-chevron-right{
    position: absolute;
    font-size: 0.8rem;
    margin-top: 0.65rem;
    right: 0;
    transition: .3s;
}

.mobile-menu > ul > li .fa-chevron-right:hover {
    transform: rotate(90deg);
}

.mobile-menu > ul > li .fa-chevron-right:hover ~ .mobile-menu-item {
    display: block;
}

.mobile-menu > nav {
    line-height: 2rem;
}

.mobile-menu-item {
    padding-left: 1.6rem;
    line-height: 1.8rem;
    display: none;
}

.megamenu {
    position: absolute;
    left: 0;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

.content {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.content-text {
    width: 40%;
    display: flex;
    align-items: center;
}

.content-text > div {
    display: flex;
    flex-direction: column;
}

.content-text > div h1 {
    font-size: 3rem;
    font-weight: 600;
}

.content-text > div h2 {
    font-size: 2rem;
    font-weight: 400;
}

.content-text > div h3 {
    font-weight: 300;
    color: #73dfe7;
}

.content-text > div > a {
    margin-top: 0.5rem;
    text-decoration: none;
    color: #73dfe7;
    transition: .5s;
}

.content-text > div > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.slide-show-area {
    overflow: hidden;
    width: 60%;
}

.images-slide-show {
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: slideshow 48s infinite;
}

.images-slide-show > img {
    width: 100%;
}

@keyframes slideshow {
    6.25% {
        margin-left: 0;
    }
   12.5% {
        margin-left: 0;
    }
    18.75% {
        margin-left: -100%;
    }
    25% {
        margin-left: -100%;
    }
    31.25% {
        margin-left: -200%;
    }
    37.5% {
        margin-left: -200%;
    }
    43.75% {
        margin-left: -300%;
    }
    50% {
        margin-left: -300%;
    }
    56.25% {
        margin-left: -400%;
    }
    62.5% {
        margin-left: -400%;
    }
    68.75% {
        margin-left: -500%;
    }
    75% {
        margin-left: -500%;
    }
    81.25% {
        margin-left: -600%;
    }
    87.5% {
        margin-left: -600%;
    }
    93.75% {
        margin-left: -700%;
    }
    100% {
        margin-left: -700%;
    }
}

.break {
    border-bottom: 1px solid #3d3f55;
    margin: 3rem 0 3rem 0;
}

.infomation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infomation > div {
    width: 30%;
}

.infomation > div:not(:last-child) {
    padding-top: 4rem;
}

.infomation > div > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.infomation > div > a:hover {
    color: #00cfde
}

.infomation > div > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

.infomation button {
    width: 6rem;
    height: 2.1rem;
    margin-top: 1rem;
    background: transparent;
    transition: .5s;
}

.infomation button a {
    text-decoration: none;
    background: none;
}

.infomation button:hover {
    background: linear-gradient(to right, #6600cc, #0063f7);
    box-shadow: 5px 5px 10px #0063f8;
}

.video > video{
   width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 100%;
}

.product-list:not(:first-child) {
    margin-top: 2rem;
}

.product-list-name {
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.product-list-name > a {
    color: #00cfdd;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
}

.product-list-items {
    display: grid;
    grid-template-rows: 35rem 35rem;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
}

.product-list-item {
    padding: 1rem 0.8rem 1rem 0.8rem;
    border: 1px solid #555870;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.product-list-item img {
    width: 90%;
    background: none;
}

.product-list-item:hover {
    border: 1px solid #9090a7;
}

.product-list-item  img:hover {
    scale: 1.1;
}

.product-list-item .product-list-item-img {
    width: 100%;
    height: 14rem;
    display: grid;
    place-items: center;
}

.product-list-item .product-list-item-name {
    height: 3rem;
    padding-top: 0.6rem;
    margin-top: 0.7rem;
    border-top:1px solid #9090a7;
}

.product-list-item .product-list-item-price {
    font-size: 1.4rem;
    color: #5b8dee;
}

.product-list-item .product-list-item-specs {
    border-top: 1px solid #9090a7;
}

.product-list-item .product-list-item-specs p {
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.product-list-item .product-list-item-specs span {
    font-size: 0.9rem;
    color: #5b8dee;
}

footer {
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #555870;
}

/*For mobile*/
@media only screen and (max-width: 767px) {
    * {
        font-size: 1rem;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        box-sizing: border-box;
    }

    header {
        position: relative;
    }

    .header {
        height: 4rem;
        justify-content: space-between;
        position: static;
    }


    .logo {
        font-size: 2rem;
        margin-right: 0.5rem;
    }

    .search-box {
        margin-left: 0;
        width: 45%;
        height: 2rem;
    }

    .search-box input {
        padding: 0.7rem;
        width: 100%;
    }

    .search-box input::placeholder {
        font-size: 0.9rem;
    }

    .search-box button {
        width: 3rem;
    }

    .navigation {
        display: none;
    }

    .cart-login {
        margin-left: 0.5rem;
    }

    .login-btn {
        display: none;
    }

    .menu-for-mobile {
        display: block;
    }
    
    .content {
        flex-direction: column;
        margin-top: 1rem;
    }

    .content-text {
        width: 100%;
    }


    .content-text > div h1 {
        font-size: 1.7rem;
    }

    .content-text > div h2 {
        font-size: 1.3rem;
    }

    .content-text > div h3 {
        font-size: 0.9rem;
    }
   
    .slide-show-area {
        width: 100%;
        margin-top: 2rem;
    }

    .break {
       display: none;
    }

    .infomation {
        display: none;
    }

    .product {
        margin-top: 2rem;
    }

    .product-list-name {
        padding: 0;
    }

    .product-list-name a {
        font-size: 1.2rem;
    }

    .product-list-items {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        gap: 0rem;
    }

    .product-list-item {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .product-list-item:is(:nth-child(5), :nth-child(6), :nth-child(7), :nth-child(8)) {
        display: none;
    }

    .product-list-item img {
        width: 100%;
    }

    .product-list-item img:hover {
        scale: 1;
    }    

    .product-list-item .product-list-item-name {
        height: auto;
        font-size: 0.9rem;
    }

    .product-list-item .product-list-item-img {
        height: auto;
    }

    .product-list-item .product-list-item-price {
        font-size: 1.2rem;
    }

    .product-list-item .product-list-item-specs p {
        font-size: 0.7rem;
    }
    
    .product-list-item .product-list-item-specs span {
        font-size: 0.7rem;
        color: #5b8dee;
    }
}

/*For tablet*/
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    * {
        font-size: 1rem;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    .navigation {
        display: none;
    }

    .search-box {
        width: 45%;
    }

    .menu-for-mobile {
        display: block;
    }

    .mobile-login-btn {
        display: none;
    }

    .mobile-menu {
        width: 35%;
    }

    .menu-break:nth-child(2) {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    .content-text {
        width: 100%;
        margin-bottom: 2rem;
    }

    .content-text > div > h1 {
        font-size: 2.2rem;
    }

    .content-text > div > h2 {
        font-size: 1.6rem;
    }

    .slide-show-area {
        width: 100%;
    }

    .infomation > div {
        width: 40%;
    }

    .infomation > div:not(:last-child) {
        padding-top: 0;
    }

    .infomation .video {
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    }

    .infomation button {
        border: 2px solid #555870;
    }

    .product-list-items {
        display: grid;
        grid-template-rows: 35rem 35rem;
        grid-template-columns: auto auto auto;
        gap: 0.5rem;
    }

    .product-list-item:is(:nth-child(7), :nth-child(8)) {
        display: none;
    }
}