@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background: #1c1c27;;
}

.container-xxl
{
    /* width: 1300px; */
    margin: auto;
    background: transparent;
    position: relative;
}

body {
    position: relative;
}

header {
    width: 100%;
    background-color: #28293d;
    position: sticky;
    top: 0;
    z-index: 99;
}

#header {
    width: 100%;
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

/* Mobile Logo and show sidebar button ------------------------------- */
.mobile-logo-and-show-sidebar {
    display: none;
    height: 100%;
    align-items: center;
    background: none;
}

.mobile-logo {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0.8rem;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

#show-sidebar {
    font-size: 1.4rem;
}

/* -------------------------------- */
.search-box {
    width: 24%;
    height: 43%;
    margin-left: 3rem;
    background: transparent;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box:hover .search-box-input {
    width: 83%;
    padding: 0 1rem;
    border: 1px solid white;
    border-right: none;
}

.search-box:hover button {
    border: 1px solid white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.search-box:hover button i {
    font-size: 1rem;
}

.search-box-input {
    height: 100%;
    width: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transition: ease .5s;
}

.search-box-input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.search-box-input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 3rem;
    height: 100%;
    border: none;
    background: transparent;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.search-box button i {
    font-size: 1.3rem;
}

.search-box button:hover i {
    color: #00cfdd;
}

/* Mobile search box --------------------------*/
.mobile-search-box {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    width: 70%;
    height: 60%;
    border-radius: 1.5rem;
    z-index: 101;
}

.mobile-search-box.mobileSearchOpen {
    display: flex;
}

#show-mobile-search-box {
    display: none;
    position: absolute;
    right: 4.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 100;
}

#close-mobile-search-box {
    width: 13%;
    font-size: 1.3rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 101;
}

.mobile-search-box-input {
    width: 70%;
    padding: 0 1rem;
    border-radius: 1.5rem;
    border: none;
}

.mobile-search-box-input:focus {
    outline: none;
}


.mobile-search-box button {
    width: 16%;
    border: none;
    border-left: 1px solid #3d3f55;
    border-right: 1px solid #3d3f55;
}

/* ----------------------------------- */

.navigation {
    margin-left: 4rem;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    float: left;
    line-height: 3.5rem;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 3rem;
}

.navigation > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.12rem;
    font-weight: 500;
    position: relative;
    transition: .5s;
    background: transparent;
}

.navigation > ul > li > a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transition: .5s;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.navigation > ul > li > a:hover::after {
    transform: scaleX(1);
}

.cart-login {
    background: none;
    margin-left: 1.5rem;
}

.cart-btn {
    text-decoration: none;
    background: none;
}

.cart-btn > i {
    font-size: 1.6rem;
}

.cart-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.login-btn {
    text-decoration: none;
    background: none;
    margin-left: 1.3rem;
}

.login-btn > i {
    font-size: 1.6rem;
}

.login-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

/* PC Menu---------------------------------------------- */
.megamenu {
    position: absolute;
    left: 0;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
    padding: 0;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    color: white;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

/* Mobile Sidebar Menu ----------------------------*/
.mobile-sidebar-menu {
    width: 17rem;
    height: 100vh;
    padding: 1rem 1rem 3rem 0.8rem;
    position: fixed;
    top: 0;
    left: -100%;
    overflow: scroll;
    transition: .4s ease;
    z-index: 200;
}

.mobile-sidebar-menu a {
    text-decoration: none;
}

.logo-in-sidebar-and-close-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-in-sidebar-and-close-sidebar > .mobile-logo {
    margin-left: 0;
}

#close-sidebar {
    font-size: 1.8rem;
    margin-right: 0;
}

.mobile-login-register {
    color: white;
    font-weight: 400;
}

.mobile-login-register i {
    margin-right: 0.6rem;
}

.mobile-sidebar-menu h1 a {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

.mobile-sidebar-menu > ul {
    list-style-type: none;
    padding: 0;
}

.mobile-sidebar-menu ul a {
    color: white;
}

.mobile-sidebar-menu > ul > li div {
    position: relative;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
}

.mobile-sidebar-menu > ul > li div span {
    width: 1.9rem;
}

.mobile-sidebar-menu .fa-chevron-right {
    position: absolute;
    right: 0.4rem;
    margin-right: 0;
    cursor: pointer;
    transition: .4s ease;
}

.mobile-sidebar-menu .fa-chevron-right.rotateBtn {
    transform: rotate(90deg);
}

.sidebar-menu-item {
    padding: 0 0 0 3rem;
    list-style-type: disc;
    display: none;
}

.sidebar-menu-item.open {
    display: block;
}

.sidebar-menu-item li {
    line-height: 2rem;
}

.mobile-sidebar-menu nav {
    margin-top: 2rem;
}

.mobile-sidebar-menu nav h1 {
    font-size: 1.1rem;
    font-weight: 600;
}

.mobile-sidebar-menu nav ul {
    list-style-type: none;
    padding: 0;
}

.mobile-sidebar-menu nav ul li {
    line-height: 2.5rem;
}

.mobile-sidebar-menu nav ul li span {
    margin-right: 0.4rem;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0909098d;
    display: none;
    z-index: 150;
}

/* ---------------------------------------- */
.content {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
}

.content-text {
    width: 40%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.content-text > div {
    display: flex;
    flex-direction: column;
}

.content-text > div h1 {
    font-size: 3.3rem;
    font-weight: 600;
    background: linear-gradient(to right, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.content-text > div h2 {
    font-size: 2rem;
    font-weight: 400;
}

.content-text > div h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #73dfe7;
}

.content-text > div > a {
    margin-top: 0.5rem;
    text-decoration: none;
    color: #73dfe7;
    transition: .5s;
}

.content-text > div > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.slide {
    width: 60%;
}

.carousel-indicators {
    background: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background: none;
}

.break {
    border-bottom: 1px solid #3d3f55;
    margin: 3rem 0 3rem 0;
}

.infomation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infomation > div {
    width: 30%;
    height: 13.7rem;
}

.infomation > div:not(:last-child) {
    padding-top: 2rem;
    box-sizing: border-box;
}

.infomation > div > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.infomation > div > a:hover {
    color: #00cfde
}

.infomation > div > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

.infomation button {
    width: 6rem;
    height: 2.1rem;
    margin-top: 1rem;
    background: transparent;
    transition: .5s;
}

.infomation button a {
    text-decoration: none;
    color: white;
    background: none;
}

.infomation button:hover {
    background: linear-gradient(to right, #6600cc, #0063f7);
    box-shadow: 5px 5px 10px #0063f8;
}

.video {
    display: flex;
    position: relative;
}

.video > video{
   width: 100%;
   background: transparent;
   z-index: 10;
}

.video-pause-next-pre {
    width: 15%;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: none;
    z-index: 15;
}

.video:hover .video-pause-next-pre {
    display: flex;
}

.video-pause-next-pre i {
    font-size: 1.2rem;
    cursor: pointer;
}

#pause-video {
    display: none;
}

.video-pause-next-pre label {
    width: 0.9rem;
    height: 0.9rem;
    background: none;
    border-left: 4px solid white;
    border-right: 4px solid white;
    transition: .4s ease;
    cursor: pointer;
}

#pause-video:checked ~ label {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: none;
    border-left-width: 15px;
    border-radius: 2px;
    overflow: hidden;
}

/* Video loading ------------------------ */
.loading {
    background: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    animation: changeColor linear 2s infinite;
}

.loader {
    border: 4px solid #ff8801;
    background: transparent;
    border-bottom-color: transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    animation: rotate1 linear 2s infinite;
}

.loader_2 {
    border: 4px solid #ff8801;
    background: transparent;
    border-top-color: transparent;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    animation: rotate2 linear 2s infinite;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* ------------------------------ */

.category-row {
    margin-bottom: 1.5rem;
}

.category-item-title {
    padding: 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid whitesmoke;
}

.category-item-title a {
    color: #00cfdd;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
    line-height: normal;
}

.category-item {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.category-item-list {
    width: 11.73%;
    height: 10rem;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.category-item-list a img:hover {
    transform: scale(1.5);
}

.category-laptop {
    background: #ff8080;
}

.category-pc-accessory {
    background: #5b8dee;
}

.category-gaming-gear {
    background: #c4b5fd;
}

.category-item-list a {
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    text-decoration: none;
    background: transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-sizing: border-box;
}

.category-item-list a p {
    text-align: left;
    color: white;
    font-weight: 600;
    background: transparent;
}

.category-item-list a img {
    background: none;
    width: 90%;
    transition: .5s;
}

.product {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 100%;
}

.product-list:not(:first-child) {
    margin-top: 2rem;
}

.product-list-name {
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.product-list-name a {
    color: #00cfdd;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
}

.product-list-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
}

.product-list-item {
    padding: 1rem 0.8rem 1em 0.8rem;
    border: 1px solid #555870;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5rem;
}   

.product-list-item a {
    text-decoration: none;
    color: white;
}

.product-list-item h1 {
    margin-top: 0.5rem;
    font-weight: 600;
}

.product-list-item img {
    width: 90%;
    background: none;
}

.product-list-item:hover {
    border: 1px solid #9090a7;
}

.product-list-item .product-list-item-img {
    width: 100%;
    height: 14rem;
    display: grid;
    place-items: center;
}

.product-list-item .product-list-item-name {
    background: none;
    height: 3rem;
    padding-top: 0.6rem;
    margin-top: 0.7rem;
    border-top: 1px solid #9090a7;
}

.product-list-item .product-list-item-price {
    font-size: 1.4rem;
    color: #5b8dee;
}

.product-list-item .product-list-item-specs {
    width: 100%;
    height: 100%;
    padding: 0.8rem 0.8rem 0 0;
    position: absolute;
    bottom: -100%;
    transition: .7s;
}

.product-list-item:hover .product-list-item-specs {
    bottom: 0;
}

.product-list-item .product-list-item-specs p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.product-list-item .product-list-item-specs span {
    font-size: 1rem;
    color: #5b8dee;
}

.product-list-item .product-list-item-specs a {
    color: #ac5cd9;
    font-size: 0.9rem;
    line-height: 3.5rem;
    background: none;
}

.buy-and-add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    right: 0.6rem;
    bottom: -10%;
    transition: .5s;
}

.product-list-item:hover .buy-and-add-to-cart
{
    bottom:0.6rem;
}

.buy-and-add-to-cart button {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    background-color: #ff3b3b;
    border: none;
}

.buy-and-add-to-cart button:hover {
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.buy-now {
    margin-left: 1rem;
}

/* Cart page------------------------------------------------------------------*/
.cart {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.cart table {
    border: 1px solid #9090a7;
    width: 100%;
    border-collapse: collapse;
}

.cart table th, .cart table td {
    border: 1px solid #9090a7;
    text-align: center;
    padding: 0.7rem;
}

.cart table a {
    text-decoration: none;
    color: white;
}

.cart input{
    width: 3rem;
    background: none;
    text-align: center;
    border: 1px solid #9090a7;
}

.cart img {
    width: 55%;
}

.cart .stt {
    width: 5%;
}
.cart .product-img {
    width: 25%;
}

.cart .product-name {
    width: 30%;
}

.cart .quantity {
    width: 10%;
}

.cart .price {
    width: 15%;
}

.cart .remove {
    width: 5%;
}

.cart .product-name a {
    text-decoration: none;
}

.cart .product-name a:hover {
    color: #ac5cd9;
}

.cart .remove i{
    cursor: pointer;
}

.cart .nothing-here {
    height: 40vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart .nothing-here h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.cart .nothing-here a, .cart .nothing-here a i {
    color: #0063f8;
    font-size: 1.2rem;
}

.pay {
    margin-top: 2rem;
    display: grid;
    place-items: end;
}

.pay-btn {
    width: 13rem;
    height: 3rem;
    margin-top: 1rem;
    background-color: #ff3b3b;
    border: none;
    border-radius: 6px;
}

.total-payment-money {
    font-size: 1.2rem;
}

.total-payment span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ff3b3b;
}

.pay-btn:hover {
    background-color: #ff8801;
}

.pay-btn > a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background: none;
}


/* Infomation page------------------------------------------------------------------*/
.student-infomation {
    width: 100%;
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-img {
    width: 35%;
    display: flex;
    align-items: center;
}

.student-img > img {
    width: 100%;
}

.student-info {
    width: 65%;
    padding: 1rem;
    box-sizing: border-box;
}

.student-info > h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.student-info span {
    font-weight: 600;
    font-size: 1.3rem;
    color: #0064f6;
}

.student-info p {
    font-size: 1.3rem;
}

.student-info .fa-facebook {
    font-size: 2rem;
    margin-top: 0.7rem;
    color: #0d8df0;
}

.project-infomation {
    width: 100%;
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.project-img {
    width: 35%;
}

.project-img > img {
    width: 100%;
}

.project-info {
    width: 65%;
    padding-right: 0.5rem;
}

.project-info > h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.project-info > h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

.project-info p {
    font-size: 1.3rem;
}

.project-info a {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.project-info span {
    font-size: 1.3rem;
    color: #0064f6;
    font-weight: 600;
}

.project-info a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

/* Product list page------------------------------------------------------------------*/
.product-list-page {
    padding: 2.5rem 0rem;
}

.where-am-i {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.2rem 0;
    border-bottom: 1px solid #9090a7;
}

.where-am-i a {
    text-decoration: none;
    font-size: 0.9rem;
    background: none;
    color: white;
}

.where-am-i a:hover {
    color: #ac5cd9;    
}

.where-am-i i {
    font-size: 0.8rem;
    margin: 0 0.3rem;
}

.filter-list {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.filter-list button {
    padding: 0.2rem 0.6rem;
    margin-right: 1rem;
    background: #0063f8;
    display: flex;
    border: none;
    border-radius: 3px;
}

.filter-list button i { 
    height: 100%;
}

.filter-list button i:not(:first-child) {
    margin-left: 0.3rem;
}

.filter-list button i:first-child {
    margin-right: 0.3rem;
    display: grid;
    place-items: center;
}

.filter-list button span {
    background: none;
}

.manufacturer-logo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.manufacturer-logo button {
    width: 9rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1.8rem;
    background: white;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
}

.manufacturer-logo button img {
    width: 100%;
    background: transparent;
}

.product-list-product-page {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
}

/*1 Product Page ------------------------------------------------------------------------- */
.one-product {
    padding: 2.5rem 0;
}

.top-1-product-info {
    display: flex;
    flex-direction: row;
}

.image-slider {
    width: 50%;
    padding: 0;
}

.image-slider .carousel {
    margin: 0 0 18% 0;
    width: 100%;
    position: relative;
}

.image-slider .carousel .carousel-indicators {
    bottom: -12%;
    margin: 0;
}

.image-slider .carousel .carousel-indicators button {
    width: 10rem;
}

.image-slider .carousel .carousel-indicators button img {
    border: 1px solid white;
    padding: 0.2rem;
}

.product-parameter {
    width: 50%;
    padding: 0 0 0 1.5rem;
}

.product-parameter h1 {
    font-size: 1.6rem;
}

.about-product {
    margin-top: 1.5rem;
}

.about-product strong {
    font-weight: 600;
}

.about-product span {
    font-weight: 600;
    color: #3d7bfa;
}

.product-parameter-xxx {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-parameter-xxx i {
    margin-right: 0.6rem;
}

.product-parameter-promotion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.product-parameter-promotion strong {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: underline;
    color: #ff3b3b;
}

.product-parameter-promotion span {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.product-parameter-another-promotion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.product-parameter-another-promotion strong {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff3b3b;
}

.product-parameter-another-promotion span {
    margin-top: 0.3rem;
}

.buy-product {
    display: flex;
    flex-direction: column;
}

.buy-product strong {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff3b3b;
}

.buy-product-or-add-to-cart {
    margin-top: 1rem;
}

.buy-product-or-add-to-cart > p {
    margin-bottom: 1rem;
}

.buy-product-or-add-to-cart > p strong {
    font-size: 1.2rem;
    font-weight: 600;
}

.buy-product-or-add-to-cart button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    border: none;
    background: #ff3b3b;
}

.buy-product-or-add-to-cart button:not(:nth-child(2)) {
    margin-left: 1rem;
}

.buy-product-or-add-to-cart button span {
    font-size: 1.2rem;
    font-weight: 600;
    background: none;
}

.buy-product-or-add-to-cart button i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.one-product-decribe {
    display: flex;
    flex-direction: column;
}

.one-product-infomation > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #00cfdd;
    margin-top: 2.5rem;
}

.one-product-infomation table {
    width: 80%;
}

.one-product-infomation table tr, .one-product-infomation table td{
    border: 1px solid #555870;
}

.one-product-infomation table td {
    padding: 0.7rem;
}

.one-product-infomation table td:first-child {
    font-weight: 600;
    width: 15%;
}

.one-product-another-infomation {
    margin-top: 1rem;
}

.one-product-another-infomation h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #00cfdd;
}

.one-product-another-infomation span {
    width: 100%;
    display: grid;
    place-items: center;
}

.one-product-another-infomation img {
    width: 45%;
    margin: 3rem 0 3rem 0;
}

/*Footer -------------------------------------------------------------------------*/
footer {
    width: 100%;
    background-color: #555870;
}

footer *{
    background: transparent;
}

.top-footer {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f7f8ff;
    
}

.subcribe {
    width: 40%;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
}

.subcribe input {
    color: black;
    width: 80%;
    padding: 0.3rem 0 0.3em 1rem;
    border: none;
    box-sizing: border-box;
}

.subcribe input::placeholder {
    color: black;
    font-size: 0.9rem;
}

.subcribe input:focus, .subcribe input:valid {
    outline: none;
}

.subcribe button {
    width: 21%;
    background-color: #ff3b3b;
    border: none;
    cursor: pointer;
}

.bottom-footer {
    margin-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-footer-column-1, .bottom-footer-column-2, .bottom-footer-column-3 {
    width: 32%;
}

.bottom-footer-column-1 > h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.switchboard-footer {
    width: 100%;
}

.switchboard-footer h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
}

.switchboard-footer h1 span {
    font-size: 0.9rem;
    font-weight: 300;
}

.switchboard-footer p {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.policy-footer {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.policy-footer a {
    text-decoration: none;
    font-weight: 600;
    color: #74e0e6;
}

.bottom-footer-column-2 h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #00cfdd;
    margin-bottom: 0.5rem;
}

.bottom-footer-column-2 p {
    margin-bottom: 0.5rem;
}

.bottom-footer-column-2 p b {
    font-weight: 600;
}

.bottom-footer-column-2 p b span {
    font-weight: 300;
    font-size: 0.9rem;
}

.bottom-footer-column-3 {
    position: relative;
}

.bottom-footer-column-3 h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #00cfdd;
    margin-bottom: 0.5rem;
}

.contact-bottom-right-icon {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    z-index: 98;
}

.contact-bottom-right-icon i {
    font-size: 2rem;
    background: none;
    cursor: pointer;
}

.contact-bottom-right-icon .fa-facebook {
    color: #1d9bf0;
}

.contact-bottom-right-icon .fa-facebook-messenger {
    background: linear-gradient(45deg, #1588ff, #6657ff, #c23cd4, #ff6d63);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.contact-bottom-right-icon .fa-youtube {
    background-clip: text;
    -webkit-background-clip: text;
    color: #ff0000;
}

#mute-btn {
    display: none;
}

.mute-btn-label {
    background: none;
    cursor: pointer;
}

#mute-btn:checked ~ .mute-btn-label i::after{
    transform: scaleX(0);
}

.contact-bottom-right-icon .fa-music {
    position: relative;
}

.contact-bottom-right-icon .fa-music::after {
    content: "";
    background: white;
    width: 2.6rem;
    height: 5px;
    border-radius: 7px;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: rotate(45deg);
}

.mobile-go-to-top {
    position: fixed;
    background: none;
    border: none;
    right: 0.4rem;
    bottom: 1rem;
    display: none;
}

.mobile-go-to-top a {
    background: none;
}

.mobile-go-to-top i {
    color: #ff3b3b;
    font-size: 1.8rem;
}

/*For mobile*/
@media only screen and (max-width: 767px) {
    * {
        font-size: 1rem;
    }

    .container-xxl {
        /* width: 100%; */
        margin: 0;
        box-sizing: border-box;
    }

    header {
        position: static;
    }

    #header {
        height: 4rem;
        justify-content: space-between;
    }

    .logo {
        display: none;
    }

    .mobile-logo-and-show-sidebar {
        display: flex;
    }

    .search-box {
        display: none;
    }

    #show-mobile-search-box {
        display: block;
    }

    /* ---------------------------------- */

    .navigation {
        display: none;
    }

    .cart-login {
        margin-left: 0.5rem;
    }

    .login-btn {
        display: none;
    }

    .content {
        flex-direction: column;
        padding-top: 1rem;
    }

    .content-text {
        width: 100%;
    }

    .content-text > div h1 {
        font-size: 2rem;
    }

    .content-text > div h2 {
        font-size: 1.3rem;
    }

    .content-text > div h3 {
        font-size: 1rem;
    }
   
    .slide {
        width: 100%;
        margin-top: 2rem;
    }

    .break {
       display: none;
    }

    .infomation {
        display: none;
    }

    .category {
        margin-top: 2rem;
    }

    .category-item {
        display: grid;
        grid-template-columns: 9rem 9rem 9rem 9rem 9rem;
        overflow-x: scroll;
    }

    .category-item-list {
        width: auto;
    }

    .category-item-title a {
        font-size: 1.3rem;
    }

    .category-item-list a img {
        width: 90%;
    }

    .product {
        margin-top: 2rem;
    }

    .product-list-name {
        padding: 0;
    }

    .product-list-name a {
        font-size: 1.3rem;
    }

    .product-list-items {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0rem;
    }

    .product-list-item {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .product-list-item:is(:nth-child(7), :nth-child(8)) {
        display: none;
    }

    .product-list-item img {
        width: 100%;
    }

    .product-list-item img:hover {
        scale: 1;
    }    

    .product-list-item .product-list-item-name {
        height: auto;
        font-size: 1rem;
    }

    .product-list-item .product-list-item-img {
        height: auto;
    }

    .product-list-item .product-list-item-price {
        font-size: 1.2rem;
    }

    .product-list-item .product-list-item-specs {
        position: static;
        height: auto;
        border-top: 1px solid #9090a7;
    }

    .product-list-item .product-list-item-specs p {
        font-size: 0.8rem;
    }
    
    .product-list-item .product-list-item-specs span {
        font-size: 0.8rem;
        color: #5b8dee;
    }

    .product-list-item .product-list-item-specs a {
        display: none;
    }

    .buy-and-add-to-cart {
        display: none;
    }

    /*Cart page ----------------------------------------------------------- */
    .cart {
        overflow: scroll;
    }

    .cart table{
        width: 100%;
    }

    .cart img {
        width: 100%;
    }

    .cart form input {
        width: 2rem;
    }

    .cart th, .cart td, .cart a{
        font-size: 0.9rem;
    }

    .cart th:nth-child(1),
    .cart td:nth-child(1) {
        display: none;
    }

    .total-payment-money {
        font-size: 1.2rem;
    }
    
    .total-payment span:nth-child(1) {
        font-size: 1.1rem;
    }

    .pay-btn {
        width: 8rem;
        height: 2.5em;
    }

    .pay-btn a {
        font-size: 1rem;
    }

    /*Infomation ----------------------------------------------------------- */
    .student-infomation {
        flex-direction: column;
        padding: 1.5rem 0 0 0;
    }

    .student-img {
        width: 100%;
    }

    .student-info {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }

    .student-info h1 {
        font-size: 1.4rem;
    }

    .student-info p, .student-info span {
        font-size: 1rem;
    }

    .project-infomation {
        flex-direction: column;
        padding: 1rem 0 3rem 0;
    }

    .project-img {
        display: none;
    }

    .project-info {
        width: 100%;
        margin-top: 1rem;
    }

    .project-info h1 {
        font-size: 1.4rem;
    }

    .project-info h2, .project-info span, .project-info p, .project-info span {
        font-size: 1rem;
    }

    .project-info h2 {
        overflow: scroll;
    }

    .project-info a {
        font-size: 1rem;
    }

    /*Product list page ----------------------------------------------------------- */
    .filter-list {
        gap: 0.5rem;
    }

    .manufacturer-logo {
        gap: 0.7rem;
    }

    .manufacturer-logo button {
        width: 7rem;
        height: 2.5rem;
        padding: 0 0.5rem;
    }

    .product-list-product-page {
        grid-template-columns: auto auto;
        gap: 0;
    }

    /*1 product page -------------------------------------------------------------- */
    .top-1-product-info {
        flex-direction: column;
    }

    .image-slider {
        width: 100%;
    }

    .product-parameter {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }

    .product-parameter h1 {
        font-size: 1.4rem;
    }

    .product-parameter-promotion strong {
        font-size: 1.2rem;
    }

    .product-parameter-promotion span {
        font-size: 1rem;
    }

    .buy-product strong {
        font-size: 1.3rem;
    }

    .buy-product-or-add-to-cart p {
        font-size: 1.3rem;
    }

    .buy-product-or-add-to-cart p strong {
        font-size: 1.6rem;
    }

    .buy-product-or-add-to-cart button {
        padding: 0.4rem
    }

    .buy-product-or-add-to-cart button:nth-child(3) {
        margin-left: 0.3rem;
    }

    .buy-product-or-add-to-cart button span {
        font-size: 0.8rem;
    }

    .one-product-infomation {
        overflow: scroll;
    }

    .one-product-infomation > h1 {
        font-size: 1.3rem;
    }

    .one-product-infomation table {
        width: 100%;
    }

    .one-product-infomation table td {
        padding: 0.4rem
    }

    .one-product-another-infomation h1 {
        font-size: 1.1rem;
    }

    .one-product-another-infomation img {
        width: 90%;
    }

    /*Footer ----------------------------------------------------------- */
    footer * {
        font-size: 0.9rem;
    }

    .top-footer {
        flex-direction: column;
    }

    .subcribe {
        margin-top: 0.5rem;
        width: 100%;
    }

    .subcribe input {
        width: 73%;
    }

    .subcribe button {
        width: 27%;
    }

    .bottom-footer {
        flex-direction: column;
    }

    .bottom-footer-column-1, .bottom-footer-column-2, .bottom-footer-column-3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .bottom-footer-column-1 h1, .bottom-footer-column-2 h1, .bottom-footer-column-3 h1 {
        font-size: 1rem;
    }

    .bottom-footer-column-1 p b span, .bottom-footer-column-2 p b span, .bottom-footer-column-3 p b span {
        font-size: 0.8rem;
    }

    .switchboard-footer h1 {
        font-size: 1rem;
    }

    .switchboard-footer h1 span {
        font-size: 0.8rem;
    }

    .switchboard-footer p {
        width: 90%;
    }

    .bottom-footer-column-3 button {
        position: static;
        float: right;
        margin-top: 1rem;
    }

    .contact-bottom-right-icon {
        display: none;
    }

    .mobile-go-to-top {
        display: block;
    }
}

/*For tablet*/
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    * {
        font-size: 1rem;
    }

    header {
        position: relative;
    }

    .container-xxl {
       /* width: 100%; */
        margin: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        box-sizing: border-box;
    }

    .logo {
        display: none;
    }

    .mobile-logo-and-show-sidebar {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .search-box {
        display: none;
    }

    #show-mobile-search-box {
        display: block;
        right: 8rem;
    }

    .content {
        flex-direction: column;
    }

    .content-text {
        width: 100%;
        margin-bottom: 2rem;
    }

    .content-text > div > h1 {
        font-size: 2.2rem;
    }

    .content-text > div > h2 {
        font-size: 1.6rem;
    }

    .slide {
        width: 100%;
    }

    .infomation > div {
        width: 40%;
    }

    .infomation .video {
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    }

    .infomation button {
        border: 2px solid #555870;
    }

    .category-item-list {
        width: 15%;
    }

    .product-list-items {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.5rem;
    }

    .product-list-item {
        padding: 1rem 0.8rem 1rem 0.8rem;
    }

    .product-list-item .product-list-item-specs {
        position: static;
        height: auto;
        border-top: 1px solid #9090a7;
    }

    .product-list-item .product-list-item-specs p {
        font-size: 0.9rem;
    }
    
    .product-list-item .product-list-item-specs span {
        font-size: 0.9rem;
    }

    .product-list-item .product-list-item-specs a {
        display: none;
    }

    .buy-and-add-to-cart {
        display: none;
    }

    /*Infomation page ----------------------------------------------------------- */
    .student-img {
        width: 40%;
        overflow: hidden;
        display: grid;
        place-items: center;
    }

    .student-info {
        width: 60%;
    }

    .student-img > img {
        width: 140%;
    }

    .project-info {
        width: 100%;
    }

    .project-img {
        display: none;
    }

    /*Product list page ----------------------------------------------------------- */
    .filter-list {
        gap: 0.5rem;
    }

    .manufacturer-logo {
        gap: 0.7rem;
    }

    .product-list-product-page {
        grid-template-columns: auto auto auto;
    }

    /*1 product page -------------------------------------------------------------- */
    .top-1-product-info {
        flex-direction: row;
    }

    .product-parameter {
        padding-left: 0.5rem;
    }

    .one-product-infomation table {
        width: 100%;
    }

    .buy-product-or-add-to-cart button:not(:nth-child(2)) {
        margin: 1rem 0 0 0;
    }   

    /*Footer ----------------------------------------------------------- */
    .top-footer > p {
        width: 45%;
    }

    .subcribe {
        width: 50%;
    }

    .contact-bottom-right-icon {
        display: none;
    }

    .mobile-go-to-top {
        display: block;
        right: 1rem;
        bottom: 1.4rem;
    }

    .mobile-go-to-top i {
        font-size: 2.1rem;
    }
}