@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #1c1c27;
    color: white;
}

.container
{
    width: 1400px;
    margin: auto;
    background: transparent;
}

header {
    width: 100%;
    background-color: #28293d;
}

.header {
    height: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

.search-box {
    margin-left: 70px;
    background: transparent;
}

.search-box input {
    height: 35px;
    width: 320px;
    background: transparent;
    box-sizing: border-box;
    padding-left: 12px;
    border-radius: 18px;
    border: 1px solid lightgray;
}

.search-box input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 15px;
}

.search-box input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 35px;
    height: 35px;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent;
    color: white;
    margin-left: -40px;
}

.navigation {
    margin-left: 70px;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    
    float: left;
    line-height: 70px;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 60px;
}

.navigation > ul > li > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    background: transparent;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.menu:hover > a {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.login-btn {
    width: 130px;
    height: 40px;
    margin-left: 50px;
    border-radius: 20px;
    background: transparent;
}

.login-btn > a {
    text-decoration: none;
    font-size: 18px;
    background: transparent;
}

.login-btn:hover {
    background: linear-gradient(to right, #6600cc, #0063f7);
}
.megamenu {
    position: absolute;
    margin-left: -734px;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    height: 600px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.content-text {
    border: 1px solid white;
    width: 40%;
    display: flex;
    align-items: center;
}

.content-text > div h1 {
    font-size: 45px;
    font-weight: 600;
}

.content-text > div h2 {
    font-size: 35px;
    font-weight: 400;
}

.content-text > div h3 {
    font-weight: 300;
    color: #73dfe7;
}

.images-slide-show {
    overflow: hidden;
    width: 60%;
    height: 480px;
}

.images-slide-show-items img {
    width: 850px;
}