@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #1c1c27;
    color: white;
    box-sizing: border-box;
}

.container
{
    width: 1400px;
    margin: auto;
    background: transparent;
}

header {
    width: 100%;
    background-color: #28293d;
    position: sticky;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
}

.header {
    height: 5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fa0000, #fbb127);
}

.logo:hover {
    
    background-image: linear-gradient(to right, #3742fa, #7bed9f);
}

.search-box {
    margin-left: 4.4rem;
    background: transparent;
}

.search-box input {
    height: 2.3rem;
    width: 20rem;
    background: transparent;
    box-sizing: border-box;
    padding-left: 1rem;
    border-radius: 2rem;
    border: 1px solid lightgray;
}

.search-box input::placeholder {
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.search-box input:focus {
    outline: none;
}

.fa-solid {
    background: transparent;
}

.search-box button {
    width: 2.2rem;
    height: 2.3rem;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: transparent;
    color: white;
    margin-left: -2.5rem;
}

.navigation {
    margin-left: 4.6rem;
    background: transparent;
}

.navigation > ul {
    list-style-type: none;
    
}

.navigation > ul > li {
    float: left;
    line-height: 4.4rem;
    background: transparent;
}

.navigation > ul > li:not(:first-child)
{
    margin-left: 3.7rem;
}

.navigation > ul > li > a {
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    transition: .5s ease-in-out;
    background: transparent;
}

.navigation > ul > li > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.menu:hover > a {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff3838, #ffaf40);
}

.cart-btn {
    text-decoration: none;
    background: none;
    margin-left: 4.95rem;
}

.cart-btn > i {
    font-size: 1.6rem;
}

.cart-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.login-btn {
    text-decoration: none;
    background: none;
    margin-left: 3rem;
}

.login-btn > i {
    font-size: 1.6rem;
}

.login-btn:hover > i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}
.megamenu {
    position: absolute;
    margin-left: -734px;
    display: none;
    line-height: normal;
    clear: both;
}

.megamenu_1 {
    width: 1400px;
    height: 600px;
    background-color: #28293d;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu:hover .megamenu {
    display: block;
}

.megamenu-items {
    width: 250px;
    background: transparent;
    list-style-type: disc;
    margin-bottom: 20px;
}

.megamenu-items > a
{
    background: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #9dbff9;
}

.megamenu-items > a:hover {
    color: #0063f7;

}

.megamenu-items  li {
    line-height: 30px;
    background: transparent;
    margin-left: 30px;
}

.megamenu-items li a {
    text-decoration: none;
    background: none;
}

.megamenu-items li a:hover {
    color: #00cfde;
}

.content {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.content-text {
    width: 40%;
    display: flex;
    align-items: center;
}

.content-text > div {
    display: flex;
    flex-direction: column;
}

.content-text > div h1 {
    font-size: 3rem;
    font-weight: 600;
}

.content-text > div h2 {
    font-size: 2rem;
    font-weight: 400;
}

.content-text > div h3 {
    font-weight: 300;
    color: #73dfe7;
}

.content-text > div > a {
    margin-top: 0.5rem;
    text-decoration: none;
    color: #73dfe7;
    transition: .5s;
}

.content-text > div > a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #6500cd, #00cfdd);
}

.slide-show-area {
    overflow: hidden;
    width: 60%;
}

.images-slide-show {
    display: flex;
    flex-direction: row;
    animation: slideshow 48s infinite;
}

.images-slide-show > img {
    width: 52.49rem;
}

@keyframes slideshow {
    6.25% {
        margin-left: 0;
    }
   12.5% {
        margin-left: 0;
    }
    18.75% {
        margin-left: -100%;
    }
    25% {
        margin-left: -100%;
    }
    31.25% {
        margin-left: -200%;
    }
    37.5% {
        margin-left: -200%;
    }
    43.75% {
        margin-left: -300%;
    }
    50% {
        margin-left: -300%;
    }
    56.25% {
        margin-left: -400%;
    }
    62.5% {
        margin-left: -400%;
    }
    68.75% {
        margin-left: -500%;
    }
    75% {
        margin-left: -500%;
    }
    81.25% {
        margin-left: -600%;
    }
    87.5% {
        margin-left: -600%;
    }
    93.75% {
        margin-left: -700%;
    }
    100% {
        margin-left: -700%;
    }
}

.break {
    border-bottom: 1px solid #3d3f55;
    margin: 3rem 0 3rem 0;
}

.container-info
{
    width: 1400px;
    margin: auto;
    background: transparent;
}

.infomation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infomation > div {
    width: 30%;
}

.infomation > div:not(:last-child) {
    padding-top: 4rem;
}

.infomation > div > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.infomation > div > a:hover {
    color: #00cfde
}

.infomation > div > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

.infomation button {
    width: 6rem;
    height: 2.1rem;
    margin-top: 1rem;
    background: transparent;
    transition: .5s;
}

.infomation button a {
    text-decoration: none;
    background: none;
}

.infomation button:hover {
    background: linear-gradient(to right, #6600cc, #0063f7);
    box-shadow: 5px 5px 10px #0063f8;
}

.video > video{
   width:100%;
}

.product {
    border: 1px solid #8f90a6;
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-list:not(:first-child) {
    margin-top: 1rem;
}

.name-of-product-list {
    border-bottom: 1px solid whitesmoke;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.name-of-product-list > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
}

.list-of-product-list {
   display: flex;
   flex-direction: row;
}

.list-of-product-list-items {
    width: 25%;
    height: 18rem;
    border: 1px solid white;
}


footer {
    margin-top: 3rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #555870;
}

@media screen and (max-width: 576px) {

    .container {
        width: 100%;
        padding: 1.5rem;
        border: 1px solid white;
        box-sizing: border-box;
    }

    header {
        position: static;
    }

    .header {
        height: 2rem;
        justify-content: space-between;
        position: static;
        z-index: 0;
    }

    .search-box {
        margin-left: 2rem;
    }

    .search-box input {
        width: 16rem;
        height: 2.7rem;
        padding-left: 1.3rem;
    }

    .cart-btn {
        margin-left: 2rem;
    }

    .login-btn {
        margin-left: 1.5rem;
    }

    .search-box input::placeholder {
        font-size: 1.1rem;
    }

    .navigation {
        display: none;
    }

    .content {
        flex-direction: column;
        margin-top: 1rem;
    }

    .content-text {
        width: 100%;
    }

    .slide-show-area {
        width: 100%;
        margin-top: 2rem;
    }

    .images-slide-show > img {
        width: 32.9rem;
    }

    .break {
       display: none;
    }

    .container-info {
        display: none;
    }
}